:root{
    --primary-text-color: #FFFFFF;
    --title-text-color: #212121;
    --acent-text-color: #757575;
    --primary-bg-color: #2196F3;
}
body {
font-family: 'Roboto', sans-serif;
}
/* hader */
.page-header { 
    background: #FFFFFF;
    height: 80px;
    width: 1600px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display:inline-block
}

.logo{
font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.19;
color: #2196F3;

}
/* navigation */
.site-nav :hover {
 color: var(--acent-text-color);   
}
.site-nav :focus{
color: var(--acent-text-color);
}
.link{
    color: var(--title-text-color);
}
.link-courrent{
    color: var(--primary-bg-color);
}

.contacts :hover{ 
color: var(--primary-bg-color);
}

.contacts :focus{
    color: var(--primary-text-color);
}

.link-contacts{
color: var(--acent-text-color);
}

/* hero */
.hero{
background-color: #2F303A;
}

.hero-title{
color: var(--primary-text-color);
}

/* section */
.section-title {
color: black;
}

.site-filter{

}

.button-primary{
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
line-height: 1.6;
}
.button-secondary{
    color: var(--primary-text-color)
    background-color: var(--acent-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
line-height: 1.6;
}
.button-primary:hover{
    background-color: var(--title-text-color);
}
.button-secondary:hover{
    background-color: var(--acent-text-color) ;
}
.button-primary:focus{
    background-color: var(--primary-bg-color) ;
}
.button-secondary:focus{
    background-color: var(--acent-text-color)
}

.button-primary:active{
    background-color:tomato ;
}
.button-secondary:active{
    background-color: green ;
}